
    <div>
        <form method="post" action="#">
        
			<div class="row gtr-uniform">
                <div id="login-error-div" class="col-12" style="display: none;">
                    <span style="color:red;" id="error"></span>
                </div>
				<div class="col-12">
					<label for="username">Username</label>
					<input type="text" name="username" id="username" value="" />
				</div>
				<div class="col-12">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" value="" />
				</div>
                <div class="col-12">
					<ul class="actions">
						<li><input type="submit" onclick="login()" value="Log In" class="primary" /></li>
						<!-- <li><input type="reset" value="Reset" /></li> -->
					</ul>
				</div>
			</div>
		</form>
        <a href="#" <a href="#" onclick="switchView('register-section')">Create New Account</a>
    </div>
