
    <div>
        <form method="post" action="#">
        
			<div class="row gtr-uniform">
				<div class="col-12">
					<label for="username">Username</label>
					<input type="text" name="username" id="username" value="" />
				</div>
				<div class="col-12">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" value="" />
				</div>
                <div class="col-12">
					<label for="confirm-password">Confirm Password</label>
					<input type="password" name="confirm-password" id="confirm-password" value="" />
				</div>
                <div class="col-12">
					<ul class="actions">
						<li><input type="submit" value="Register" class="primary" /></li>
						<!-- <li><input type="reset" value="Reset" /></li> -->
					</ul>
				</div>
			</div>
		</form>
        <a href="#" onclick="switchView('login-section')">Return to Log In</a>
    </div>
