    <div>
        <form method="post" action="#">
        
			<div class="row gtr-uniform">
				<div class="col-12">
					<label for="entry-name">Entry Name</label>
					<input type="text" name="entry-name" id="entry-name" value="" />
				</div>
				<div class="col-12">
					<label for="timezone-name">Timezone Name</label>
					<input type="text" name="timezone-name" id="timezone-name" value="" />
				</div>
                <div class="col-12">
					<label for="time-difference">Difference from GMT Time</label>
					<input type="number" name="time-difference" id="time-difference" value="" />
				</div>
                <div class="col-12">
					<ul class="actions">
						<li><input type="submit" value="Log In" class="primary" /></li>
						<!-- <li><input type="reset" value="Reset" /></li> -->
					</ul>
				</div>
			</div>
		</form>
    </div>
