<div class="row gtr-uniform">
    <div class="col-12" >
        <h2>Users</h2>
    </div>
    <div class="col-12">
        <button onclick="switchView('timezones-section')">Back</button>
    </div>
    <div class="col-12">
        <button onclick="switchView('admin-register-section')">Add New User</button>
    </div>
    <div id="users-message-div" class="col-12" style="display: none;">
        <span style="color:green;" id="users-message"></span>
    </div>
    <div id="users-error-div" class="col-12" style="display: none;">
        <span style="color:red;" id="users-error"></span>
    </div>
</div>

<div class="inner table-wrapper">
    <table id="user-table">
		<thead>
			<tr>
				<th>User Name</th>
				<th>Admin Privileges?</th>
			</tr>
		</thead>
		<tbody id="user-table-body">
		</tbody>
	</table>
</div>